body {
  background-color: #f8f0e3; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.navbar {
  background-color: #fff3b0;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-lista {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-list li a {
  text-decoration: none;
  color: #ff0000;
  font-size: 1.2rem;
}

.main-content {
  margin: 2rem;
  padding: 2rem;
  background-color: transparent;
  border-radius: 8px;
}

.title {
  font-size: 3rem;
  color: #333;
}

.description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}


.objectives-section {
  padding-top: 2rem; 
}

.section-titulo{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}
.objectives-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  justify-items: center;
}

.card-image {
  width: 100%;
  max-width: 450px; 
  height: auto; 
  display: block;
  border-radius: 8px; 
}


.footer {
  background-color:  #fff3b0;
  padding: 2rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.contaco-info {
  text-align: left;
  font-size: 1rem;
}

.rede-social img {
  width: 32px;
  height: 32px;
  margin: 0 0.5rem;
}

.rede-social a {
  text-decoration: none;
}

.sobre-nos-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem; 
}

.destaque {
  background-color: #f8f0e3; 
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .objectives-grid {
    grid-template-columns: 1fr; 
  }
}