.area-usuario-section {
    padding: 2rem;
    background-color: #f8f0e3; 
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .section-subtitle {
    margin-bottom: 1.5rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #008ecc;
  }
  
  .forgot-password {
    margin-bottom: 1rem;
    display: block;
  }
  
  .login-alternatives {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
  
  .login-google,
  .login-microsoft {
    padding: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  .login-google:hover {
    background-color: #f1f1f1;
  }
  
  .login-microsoft:hover {
    background-color: #f1f1f1;
  }
  